html {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}


.nav-content{
  flex-wrap: nowrap;

}
.nav-li{
    font-size: 1.4rem;
}

.main-container-section p{
    font-size: 1.5rem;
   
}

.footer p{
  font-size: 1.8rem;
  margin-right: 4rem;
}

#red1 {
  width: 10%;
  float: left;
  margin: 1rem;
}
#red2 {
  width: 10%;
  float: left;
  margin: 1rem;
}
#red3 {
  width: 10%;
  float: left;
  margin: 1rem;
}

