html {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}


.nav-content{
  flex-wrap: nowrap;

}
.nav-li{
    font-size: 1.4rem;
}


.main-container-articule p{
  font-weight: bold;
  margin-top: 1rem;
  font-size: 2rem;
}


#red1 {
  width: 10%;
  float: left;
  margin: 1rem;
}
#red2 {
  width: 10%;
  float: left;
  margin: 1rem;
}
#red3 {
  width: 10%;
  float: left;
  margin: 1rem;
}

