* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f0f0f0;
}

.header {
  display: flex;
  width: 100%;
  height: 20rem;
  font-size: 1.4rem;
  flex-wrap: wrap;
}

.header-logo {
  display: flex;
  width: 20%;
  height: 6rem;
  align-items: center;
  justify-content: center;
}

.header-logo-img {
  display: flex;
  width: 50%;
  height: 5rem;
}

.header-nav {
  display: flex;
  width: 100%;
  height: 14rem;
  margin-top: auto;
}

.nav-content {
  display: flex;
  width: 100%;
  height: 14rem;
  list-style: none;
  align-items: flex-end;
  flex-wrap: wrap;
}

.nav-li {
  display: flex;
  width: 100%;
  height: 2.8rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(31, 36, 33);
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
}

.nav-li:hover {
  background-color: darkslategray;
}

.nav-li:active {
  background-color: rgb(51, 172, 172);
}

.main-container {
  display: flex;
  align-items: initial;
  justify-content: initial;
  width: 100%;
  height: 60rem;
  margin: 2rem auto;
  flex-wrap: wrap;
}

.main-container-section {
  background-image: url(../images/BannerUnoV2.jpg);
  background-position: center;
  display: flex;
  width: 100%;
  height: 20rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: white;
}

.main-container-section h1 {
  width: 30%;
  height: 10rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.container-section-box {
  background-color: black;
  opacity: 0.8;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 70%;
  height: 16rem;
}

.main-container-section p {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  width: 100%;
  color: white;
}

.section-decoration p {
  margin-top: 1rem;
  text-decoration: underline;
  color: white;
}

.main-container-imag {
  display: flex;
  width: 100%;
  height: 20rem;
  background-color: #006944;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.container-imag-text {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
}

.container-imag-text .imag-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-imag-text p {
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 1rem;
}
/* .main-container-imag p{
  font-weight: bold;
  font-size: 1.8rem;
  display: flex;
  align-items: flex-end;
}  */

.footer {
  font-size: 1.4rem;
  display: flex;
  background-color: rgb(31, 36, 33);
  width: 100%;
  height: 6rem;
  color: #fff;
}

.footer p{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  font-weight: bold;
  font-size: 1.4rem;
}

.footer-redes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

#red1 {
  width: 20%;
}
#red2 {
  width: 20%;
}
#red3 {
  width: 20%;
}
