:root {
  --color: #e7dbdb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  width: 100%;
  height: 20rem;
  font-size: 1.4rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  width: 20%;
  height: 6rem;
  margin-left: 1rem;
  align-items: center;
  justify-content: center;
}

.header-logo a {
  width: 100%;
}

.header-logo-img {
  display: flex;
  width: 50%;
  height: 5rem;
}

input{
  background-color: transparent;
  border-color: transparent;
  height: 50%;
  border-bottom-color: black;

}


.header-search{
  display: flex;
  align-items: center;
}


.header-nav {
  display: flex;
  width: 100%;
  margin-top: auto;
}

.nav-content {
  display: flex;
  width: 100%;
  /* height: 14rem; */
  list-style: none;
  align-items: flex-end;
  flex-wrap: wrap;
}

.nav-li {
  display: flex;
  width: 100%;
  height: 2.8rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(31, 36, 33);
  text-decoration: none;
  color: var(--color);
  font-size: 1.4rem;
}

.nav-li:hover {
  background-color: darkslategray;
}

.nav-li:active {
  background-color: rgb(51, 172, 172);
}

.main {
  margin: auto 0;
}

.main-container {
  width: 100%;
  height: 78rem;
  flex-wrap: wrap;
}

.main-container-imag {
  display: flex;
  width: 100%;
  background: rgb(0, 105, 68);
  background: linear-gradient(
    119deg,
    rgba(0, 105, 68, 1) 0%,
    rgba(20, 179, 122, 1) 60%
  );
  color: var(--color);
  font-family: Arial, Helvetica, sans-serif;
}

.container-imag-text {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 2.4rem 1rem;
}

.imag-text {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.container-imag-text p {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 1rem;
}

.main-container-section {
  background-image: url("https://i.imgur.com/6qM9aSO.jpg");
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 36rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: var(--color);
}

.main-container-section h1 {
  width: 30%;
  height: auto;
  text-align: center;
  margin: 0 1rem;
  margin-top: 1.6rem;
}

.container-section-box {
  background-color: black;
  opacity: 0.8;
  margin: 0 1rem;
  margin-top: 1.6rem;
  margin-left: 1rem;
  width: 70%;
  height: auto;
  padding: 1.2rem;
  text-align: center;
  font-size: 1.8rem;
}

.container-section-box h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.main-container-section p {
  text-align: center;
  font-weight: bold;
  width: 100%;
  color: rgb(236, 228, 228);
}

.section-decoration p {
  margin-top: 1rem;
  text-decoration: underline;
  color: var(--color);
}

.main-container-articule {
  text-align: center;
  width: 100%;
  height: 20rem;
  font-size: 1.7rem;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container-articule p {
  color: rgb(43, 39, 39);
  margin: 1rem 0.5rem;
  text-align: center;
}

.container-articule-figure {
  width: 100%;
  height: 10rem;
  display: flex;
  margin-top: 1rem;
}

.figure-imag {
  width: 33.3%;
  height: 10rem;
}

.footer {
  font-size: 1.4rem;
  display: flex;
  background-color: rgb(31, 36, 33);
  justify-content: space-between;
  width: 100%;
  height: 6rem;
  color: var(--color);
  margin-top: auto;
}

.footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.4rem;
}

.footer-redes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

#red1:hover {
  background-color: rgb(193, 211, 226);
}
#red2:hover {
  background-color: rgb(193, 211, 226);
}
#red3:hover {
  background-color: rgb(193, 211, 226);
}

#red1 {
  width: 20%;
  border-radius: 100%;
}
#red2 {
  width: 20%;
  border-radius: 100%;
}
#red3 {
  width: 20%;
  border-radius: 100%;
}
