.header {
  height: 10rem;
}

.header-logo a {
  width: 100%;
}

.header-nav {
  height: 6rem;
}

.nav-content {
  flex-wrap: nowrap;
  height: 4rem;
  justify-content: space-around;
  background-color: rgb(31, 36, 33);
}

.nav-li {
  font-size: 1.3rem;
  height: 4rem;
  width: auto;
}

.main-container-articule p {
  font-weight: bold;
  margin-top: 1rem;
  font-size: 1.8rem;
}

.main-coffee {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.main-card {
  width: 100%;
}

.main-video{
    display: grid;
    justify-content:center;
    align-items:flex-start;
    justify-items:end;
    margin: auto 1rem;
    grid-template-columns: repeat(2, 1fr);
}



.main-section{
    width: 95%;
    background-color: rgb(31, 36, 33);
    font-size: 1.8rem;
    color: #e7dbdb;
}


.footer-redes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.footer p {
  font-size: 1.8rem;
  margin-right: 1rem;
}

#red1 {
  width: 10%;
  float: left;
  margin: 1rem;
}
#red2 {
  width: 10%;
  float: left;
  margin: 1rem;
}
#red3 {
  width: 10%;
  float: left;
  margin: 1rem;
}
