.header {
  height: 10rem;
}

.header-logo a {
  width: 100%;
}

.header-nav {
  height: 6rem;
}

.nav-content {
  flex-wrap: nowrap;
  height: 4rem;
}

.nav-li {
  font-size: 1.3rem;
  height: 4rem;
}

.container-section-box {
  height: 10rem;
}

.main-container-articule p {
  font-weight: bold;
  margin-top: 1rem;
  font-size: 1.8rem;
}

.footer-redes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.footer p {
  font-size: 1.8rem;
}

#red1 {
  width: 10%;
  float: left;
  margin: 1rem;
}
#red2 {
  width: 10%;
  float: left;
  margin: 1rem;
}
#red3 {
  width: 10%;
  float: left;
  margin: 1rem;
}
